.time-container {
  margin: 0 auto;
}

.time-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.time-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  padding-left: 16px;
  box-sizing: border-box;
  &:hover {
    border: 1px solid #000;
  }
  &:active {
    border: 1px solid #4e75ff;
  }
  &:disabled {
    background-color: #fafafa;
    color: #808080;
  }
}

.time-btn {
  width: 75px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  border-radius: 8px;
  background-color: #4e75ff;
  border: transparent;
  &:hover {
    background-color: #6c8cff;
  }
  &:disabled {
    background-color: #cfcfcf;
    color: #989898;
  }
}

.timer {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.flatpickr-day.today {
  border-color: #4e75ff;
}

.flatpickr-day:hover {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #4e75ff;
  border-color: #4e75ff;
}
